<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1><%= @user.poem.title %></h1>
  <p>by <%= @user.poem.author %></p>
  <p> <%= @user.poem.content %></p>
  </body>
</html>
