<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body >
    <div style='background-color: #f5f5f5; color: #fff; text-align: center; margin: 24px; padding: 28px; padding-bottom: 78px; border-radius: 16px;'>
      <a href='http://www.teahouse.space/' target='_blank' style='font-weight: bold; text-align: center; text-decoration: none; color: orange;'>Visit Tea House</a>
      <div style='display: flex; justify-content: center; margin-top: 8px;'>
        <div style='text-align: center; width: 600px; position: relative; margin: 0 auto; padding: 16px 56px 40px 56px; background: url(<%= image_path("babak.jpg") %>); background-color: #1C1D2E; border-radius: 16px;'>
          <h1>Dear <%= params[:user].name %></h1>
          <p> We are reaching out to let you know that we encountered some errors, but we are working on this and giving our best to provide you nice and smooth experience.</p>
          <p> We apologize for this inconvenience, and we are hoping that you will stay with us, and have many more days fulfilled with poetry.</p>
          <p> If you have any questions or concerns, reply to this email or email us to <%= link_to "teahouseteam@teahouse.space", "mailto:teahouseteam@teahouse.space", target: :blank, style: 'color: orange;'  %></p>
          <br>
          <p> Thank you for your trust, <br> Tea House Team</p>
        </div>
      </div>
    </div>
  </body>
</html>
