.devise-container {
  padding-top: 24px;
  max-width: 760px;
  a {
    color: orange;
  }
}


input[type="checkbox"] {
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: .8em;
  height: .8em;
  background: #fff;
  border-radius: 2px !important;
  cursor: pointer;
  outline: none;
  border: 2px solid orange;
}

input[type="checkbox"]:after {
  position: absolute;
  content: "";
  width: .7em;
  transform: scale(.7);
}

input[type="checkbox"]:checked {
  background: orange;
}

input[type="checkbox"]:checked:after {
  background: orange;
}

a.btn.link-user {
  color: #fff;
  text-decoration: none;
}

a.btn.link-user:hover {
  color: orange;
  text-decoration: none;
}
