<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body >
    <div style='background-color: #f5f5f5; color: #fff; text-align: center; margin: 24px; padding: 28px; padding-bottom: 88px; border-radius: 16px;'>
      <a href='http://www.teahouse.space/' target='_blank' style='font-weight: bold; text-align: center; text-decoration: none; color: orange;'>Visit Tea House</a>
      <div style='display: flex; justify-content: center; margin-top: 8px;'>
        <div style='color: #fff; text-align: center; width: 750px; position: relative; margin: 0 auto; padding: 16px 16px 48px 16px; background: url(<%= image_path("babak.jpg") %>); background-color: #1C1D2E; border-radius: 16px;'>
          <h1>Hello <%= @resource.name %>!</h1>
          <p style='color: #fff;'>We're contacting you to notify you that your password has been changed.</p>
        </div>
      </div>
    </div>
  </body>
</html>
